{%- extends "bootstrap/base.html" %}

<head>

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Raspi-Home</title>
    {% endif %}
</head>


{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Raspi-Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="/light-settings">Light Settings</a></li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block script %}

{% endblock %}

{% block datatable %} {% endblock %}
{% block content %} {% endblock %}
