<!doctype html>
<html>
   <body>
   
      <h2 style = "text-align: center;">Contact Form</h2>
		

      

      
      <form action = "http://192.168.1.55:5000/contact" method = post>
         <fieldset>
            <legend>Contact Form</legend>
            {{ form.hidden_tag() }}
            
            <div style = font-size:20px; font-weight:bold; margin-left:150px;>


               {{ form.Device.label }}<br>
               {{ form.Device }}
               <br>
               
               {{ form.Low.label }}<br>
               {{ form.Low }}
               <br>
               
               {{ form.High.label }}<br>
               {{ form.High }}
               <br>
               
               {{ form.start_time.label }}<br>
               {{ form.start_time }}
               <br>
               
               {{ form.end_time.label }}<br>
               {{ form.end_time }}
               <br>
               {{ form.submit }}
            </div>
            
         </fieldset>
      </form>
      
   </body>
</html>