{% extends "base.html" %}
{% block content %}
<!doctype html>
<html>
   <body>
   
      <table border = 1>
         <thead>
            <td>device</td>
            <td>mode</td>
            <td>on_time</td>
            <td>off_time</td>
            <td>light_value</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{ row["device"] }}</td>
               <td>{{ row["mode"] }}</td>
               <td>{{ row["on_time"] }}</td>
               <td>{{ row['off_time'] }}</td>  
               <td>{{ row['light_value'] }}</td>  
            </tr>
         {% endfor %}
      </table>
      
      <a href = "/">Go back to home page</a>
      
   </body>
</html>
{% endblock %}